<h3 class="font-size">
  Modify Product Details</h3>
<br/>

<div class="container tableDimension">
  <div class="table-responsive ">
    <table class="table ">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Category</th>
          <th>Quantity</th>
          <th>Product Price (Rs)</th>
          <th>Product image</th>
        </tr>
      </thead>
     
      <tbody>
        <tr *ngFor="let data of itemData" (click)="onSelect(data)">
          <td>{{data.productId}}</td>
          <td>{{data.productName}}</td>
          <td>{{data.productCategory}}</td>
          <td>{{data.productQuantity}}</td>
          <td>Rs. {{data.productPrice}}</td>
          <td><a href="{{imgUrl}}images/{{data.imageUrl}}" target="_blank">View Image</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<br/>
<h3>Update details</h3>
<br/>
<form class="row container">

  <div class="col-sm-6 row bottom-margin">
    <label for="productId" class="col">Product Id : </label>
    <input type="text" id="productid" disabled value={{data.productId}} class="col" />
  </div>

  <div class="col-sm-6 row bottom-margin">
    <label for="productName " class="col">Product Name : </label>
    <input type="text" id="UproductName" value={{data.productName}} class="col " />
  </div>

  <div class="col-sm-6 row bottom-margin">
    <label for="productCategory" class="col ">Product Category : </label>
    <input type="text" id="UproductCategory" value={{data.productCategory}} class="col" />
  </div>

  <div class="col-sm-6 row bottom-margin">

    <label for="productQuantity" class="col">Product Quantity : </label>
    <input type="text" id="UproductQuantity" value={{data.productQuantity}} class="col" />
  </div>

  <div class="col-sm-6 row bottom-margin">

    <label for="productPrice" class="col">Product Price : </label>
    <input type="text" id="UproductPrice" value={{data.productPrice}} class="col" />
  </div>

  <div class="col-sm-6 row bottom-margin">
    <label for="productImage" class="col ">Product Image : </label>
    <input type="file" id="UproductImage" class="  col defaultPropertyRemove" />
    
  </div>
  
  <div class="col-sm-6 row bottom-margin">

    <label for="description" class="col">Product Description : </label>
    <textarea rows="4" cols="50" class="col" value={{data.description}}></textarea>
  </div>



  <div class="col-sm-6 row bottom-margin button-div">
    <span class="  col-sm-6 ">
      <input type="submit" value=" Update " (click)="onUpdate()" class="btn" />
    </span>
    <span class=" col-sm-6 ">
      <input type="Reset" class="btn" />
    </span>

  </div>

</form>