*{
    text-align: center;
}

.defaultPropertyRemove{
    padding-left:0%;
}

.bottom-margin{
    margin-bottom: 1vw;
    
}

.tableDimension{
    height: 20vw;
    overflow-y: scroll;
}

tr:hover{
    background: rgba(210, 180, 140,0.5);
}
thead{
    background: tan; 
}
