.divStyle{
    background:rgb(67, 85, 204);
    width:100%;
    height:5vw;
    z-index:1;       
    position:fixed;    
    padding:1vw;    
}
.navC{
    overflow: intial;
    padding-top:6vw;
    padding-left:1vw;
    padding-right: 1vw;    
    height:9vw;
    width:100vw;
    display:table;
}
.webSiteName
{
        font-size: 2vw;
        font-style: oblique;
        color:blanchedalmond;
        text-shadow:0.2vw 0.3vw  navy;
   
        
}
.divPosition{
    display: inline-block;
}

select{
    
    padding-left: 1vw;
    height:3vw;
    width:7vw;
    border-top-left-radius:1vw;
    border-bottom-left-radius: 1vw;    
    border-right:none;
}
input[type=text]
{
    padding-left: 1vw;
    height:3vw;
    width:30vw;
    border-left: none;
    border-top-right-radius:1vw;
    border-bottom-right-radius: 1vw;
    
    
}
.Label{
   float:right;
    padding-right: 1vw;
    font-size: 1vw;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}

.btnSearch{
    border:0.1vw solid rgba(9, 44, 114, 0.5);
    border-radius: 0.4vw;
    height:3vw;
    width:5vw;
    font-size: 1vw;
    margin:0.5vw;
    background-color: cornflowerblue;
}
.btnSearch:hover{
    background:rgba(9, 44, 114, 0.5);
}
ul{
    list-style: none;
}

.navSpan{
    border:0.1vw solid rgba(9, 44, 114, 0.5);
    padding:1vw 5vw;
    height:3vw;
    
    width:auto;
    border-radius:0.5vw;
    color:black;
    font-size: 1vw;
    display:table-cell;
}
.navSpan:hover
{
     background:rgba(48, 63, 159,0.6);
}