<div class="divStyle header">
 <span class="fontTimes webSiteName">eShopping</span>
 <span class="form-group ">
    <select class="">
        <option>All</option>
        <option>Electronics</option>
        <option>Computer And Laptop</option>
        <option>Accesories</option>
    </select>    
    <input type="text" class="" placeholder="Search">
   <!-- <span class="glyphicon glyphicon-search"></span>-->
</span>

<label class="loginLabel">
    <span onclick='alert("Call Login Page")'>Login</span>
    <span>/</span>
    <span onclick='alert("Call SignUp Page")'>SignUp</span>
    <span class="container ">Cart</span>
</label>
</div>

