.divStyle{
    background:black;
    display: block;
    height:70px;
    padding-left: 20px;    
}
.webSiteName{

        font-size: 40px;
        font-style: oblique;
        color:wheat;
}
input[type=text]
{
    
    width:30vw;
    height:3vw;    
    border-left: none;
    border-top-right-radius:1vw;
    border-bottom-right-radius: 1vw;
    padding-left: 1vw;
}
select{
    margin-left: 3vw;
    width:7vw;
    height:3vw;
    text-overflow: ellipsis;
    border-top-left-radius:1vw;
    border-bottom-left-radius: 1vw;    
}
.loginLabel{
    color:whitesmoke;
    float:right;
    padding-right: 3vw;
    padding-top: 1vw;
    font-size: 1.5vw;
}