
<h3 class="font-size">Remove Product Details</h3>
<br/>


<div class="container tableDimension">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr >
          <th>Select<input type="checkbox" name="Select"></th>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Category</th>
          <th>Quantity</th>
          <th>Product Price (Rs)</th>
          <th>Offer Price (Rs)</th>
          <th>Product Description</th>
          <th>Product image</th>
          
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor = "let data of itemData">
          <th><input type="checkbox" name="Select"></th>
          <td>{{data.productId}}</td>
          <td>{{data.productName}}</td>
          <td>{{data.productCategory}}</td>
          <td>{{data.productQuantity}}</td>
          <td>Rs. {{data.productPrice}}</td>
          <td>null</td>
          <td>{{data.description}}</td>
          <td>{{data.imageUrl}}</td>
        </tr>
       </tbody>
    </table>
  </div>
</div>
