*{
    padding-left: 1vw;
}

.left-border{
    border-left:1px solid black;
}

#cartBox{
    display: block;
    background: aquamarine;
    overflow: scroll;
    height:20vw;
}
.height{
    min-height: 50vw;
    
}