<div class="row position">
  
    <div class="col-md-2 left-border">
        <h3>User Details</h3>
        <br/>Name : {{name}}
        <br/>Address :<small> {{address}}</small>
      </div>
  <div class="col-md-10 ">
    <h3>Cart Items</h3>
    <div id="cartBox">
      <div class="row padding-top" *ngFor="let data of productData">
        <div class="col-md-4 col-xs-2">
          <img src="{{imgurl}}images/{{data.imageUrl}}" class="imageAlign" />
          
        </div>
        <div class="col-md-8 col-xs-4">
          Product Name : {{data.productName}}
          <br/> Price : Rs. {{data.productPrice}}
          <br/> Category: {{data.productCategory}}
          </div>

      </div>
    </div>
  </div>


</div>