<br/>
<br/>

<h3>Add New Product</h3>
<br/>
<form class="row">

  <div class="col-sm-12 row">
    <label for="productName" class="col-sm-4 margin">Product Name : </label>
    <input type="text" id="productName" class="col-sm-4 margin" />
    </div>

<div class="col-sm-12 row">
    <label for="productCategory" class="col-sm-4 margin">Product Category : </label>
    <input type="text" id="productCategory" class="col-sm-4 margin" />
  </div>

  <div class="col-sm-12 row">
    <label for="productQuantity" class="col-sm-4 margin">Product Quantity : </label>
    <input type="text" id="productQuantity" class="col-sm-4 margin" />
  </div>

  <div class="col-sm-12 row center">
    <label for="productPrice" class="col-sm-4 margin">Product Price : </label>
    <input type="text" id="productPrice" class="col-sm-4 margin" />
  </div>

  <div class="col-sm-12 row">
    <label for="offerPrice" class="col-sm-4 margin">Product Offer Price : </label>
    <input type="text" id="offerPrice" disabled class="col-sm-4 margin" />
  </div>

  <div class="col-sm-12 row">
    <label for="description" class="col-sm-4 margin">Product Description : </label>
    <textarea rows="4" cols="50" class="col-sm-4 margin"></textarea>
  </div>

  <div class="col-sm-12 row">
    <label for="productImage" class="col-sm-4 margin">Product Image : </label>
    <input type="file" id="productImage" class=" defaultPropertyRemove col-sm-4 margin " />
  </div>
  <br/><br/><br/>
  <div class="col-sm-12 row">
  
    
    <span class="  col-sm-4 margin ">
      <input type="submit" value=" Save " class="btn" />
    </span>
    <span  class=" col-sm-4 margin ">
      <input type="Reset" class="btn" />
    </span>
  
  </div>
</form>