 
.sub-div-list{
    height:20vw;
    width:20vw;
    border-radius: 1vw;
    margin: 1vw;
    text-align: center;
    border:0.2vw solid white;
    display: inline-block;
    background:gray;
}
.cdiv{
    padding:5vw;
}
.sub-div-list:hover{
    
    border:0.2vw solid red;
   
}

.imageAlign{
    height: 100%;
    width:100%;
}