
.sub-div-list{
    height:20vw;
    width:20vw;
    border-radius: 1vw;
    margin: 1vw;
    text-align: center;
    border:0.2vw solid white;
    display: inline-block;
    background:whitesmoke;
}
.sub-div-list:hover{
    
    border:0.5vw solid tan;
      
}

.ccdiv{
    padding:1vw;
}


.imageAlign{
    border-radius: 0.5vw;
    height: auto;
    width:100%;
}