
<div class=" pop-up">
  <form action=#>
    <div class="popUpBox container text-color">
      <label class=" container signUp ">SignUp</label>
        <label for="Name" >Name:  </label>  
        <input type="text" class="form-control" id="name">
    
        <label for="emailId">Email Id  </label>  
        <input type="text" class="form-control" id="emailId">
    
        
        <label for="number">Phone Number:  </label>  
        <br/>
          <span class="btn-group">
          <select class="selectField">
              <option>Opt 1</option>
              <option>Opt 2</option>
              <option>Opt 3</option>
              <option>Opt 4</option>
          </select>
          <input type="text" class="textField" id="number">
         
        </span><br/>
        
        <label for="password">Password:  </label>  
        <input type="password" class="form-control" id="password">
      
        <input type="submit" class="btn btn-info container padding" >
        <input type="Reset" class="btn btn-muted container padding" >    
    </div>
  </form>
</div>



