*{
    font-size: 1.5vw;
}
.pop-up{
   
    background:rgba(0,0,0,0.4); 
    padding-top:20px;
    overflow: hidden;
    height:700px;
}
.popUpBox{
    width:35vw;
    height:auto;
    background:rgba(0,0,0,0.1);                 
    margin-left: 35vw;
    margin-top: 5vw;
    padding:2vw;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    position: relative;
}

.padding{
    margin-top:1.5vw;
}
.text-color{
    color: wheat;
}
.textField{
    border-radius:0.5vw;
    width:26.5vw;
    height:3vw;
    padding-left:0.5vw;
    
}
.selectField{
    border-radius:5px;
    height:3vw;
    width:4.5vw;
}
.signUp{
    font-size: 3vw;
}