
.webSiteName
{
        margin-left: 2vw;
        font-size: 2.5vw;
        font-style: oblique;
        color:cornsilk;
        text-shadow:0.2vw 0.3vw  grey;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.07vw;
    
} 
.sub-div-list{
    padding:0.5vw;
    border-radius: 0.2vw;
    margin: 0.5vw;
    text-align: center;
    border:0.2vw solid white;
    display: inline-block;
    background:tan;
}
a{
    color:white;
}
a:hover{
    color:black;
   
}
.float-property
{
    margin-left: 20vw;    
}
.bg-nav{
    background:tan;
    border:none;
    color:white;
    padding:0%;
}


.searchForm{
    max-width: 60vw;
}
.btn-bg{
    background: white;
    border:none;
    height:3.1vw;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
}

.searchIcon{
    height:2.5vw;
    width:3vw;
    
    
}

select{
   
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-left:2vw;
    height:3.1vw;
    font-size:1.3vw;
    border:none;
    border-bottom-left-radius: 0.6vw;
    border-top-left-radius: 0.6vw;
}

input[type=text]
{
     padding-left: 1vw;
     margin-left:-0.3vw;
     height:3.1vw; 
     font-size:1.3vw;
     width: 25vw;
     border:none;
    
}
.disable-selection{
    user-select: none;
}

.menu_links {
    cursor: pointer; }
.menu{
    margin-left:2vw;
    color:white;
}
.menu:hover{
    color:black;
}
.menu-div{
    margin-top: 1vw;
    min-height:10vw;
    width:100vw;
    z-index:1;
    position: fixed;
    background: rgba(210, 180, 140,0.7);
}