
.webSiteName
{
        margin-left: 2vw;
        font-size: 2.5vw;
        font-style: oblique;
        color:blanchedalmond;
        text-shadow:0.2vw 0.3vw  grey;
   
        
}

.float-property
{
    margin-left: 20vw;    
}
.bg-nav{
    background:cornflowerblue;
    border:none;
    border-bottom: 0.1vw solid black;
    padding:0%;
}


.searchForm{
    max-width: 60vw;
}
.btn-bg{
    background: white;
    border:none;
    height:3.1vw;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
}

.searchIcon{
    height:2.5vw;
    width:3vw;
    
    
}

select{
   
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-left:2vw;
    height:3.1vw;
    font-size:1.3vw;
    border:none;
    border-bottom-left-radius: 0.6vw;
    border-top-left-radius: 0.6vw;
}

input[type=text]
{
    padding-left: 1vw;
     margin-left:-0.3vw;
     height:3.1vw; 
     font-size:1.3vw;
     width: 25vw;
     border:none;
    
}
.disable-selection{
    user-select: none;
}

.menu{
    margin-left:2vw;
    color:rgba(255,255,255,.5);
}
.menu:hover{
    color:rgba(255,255,255,0.7);
}
.menu-div{
    height:auto;
    width:100vw;
    z-index:1;
    position: fixed;
    background: rgba(0,0,0,0.5);
}