<div class="divParentBlock">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
<div  class="divParentBlock">
 <ul>
      <div class="divBlock">fedsvdsavdsa</div>  
       <div class="divBlock">dwsfcdsfcds</div>  
       <div class="divBlock">dfdsafsdads</div>  
       <div class="divBlock">sdafdsa</div>  
       <div class="divBlock">dsfdsafsd</div>  
      <div class="divBlock">dsfsafsdafgvfdsgvfdsgbsytrgrrhbgfhbgfdxs</div>   
    </ul>
</div>
<div  class="divParentBlock">
  
</div>
<div  class="divParentBlock">
  
</div>