
.carousel-div-list{
   height:25vw ; 
   width:auto; 
   background:red;
}
.div-list{
    height:25vw ;
    margin-top:5vw;
    margin-bottom: 5vw; 
    width:100vw; 
    background:black;
    
  
}

.sub-div{

   
    height:25vw;
    background: red;
  }
  
.sub-div-list{
    height:20vw;
    width:20vw;
    border-radius: 1vw;
    margin: 1vw;
    text-align: center;
    border:0.2vw solid white;
    display: inline-block;
    background:gray;
}
.sub-div-list:hover{
    
    border:0.2vw solid red;
    
    
    width:22vw;
    
}
.scroll{
    overflow: scroll;
    padding:2vw;
   
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1vw;
    background: rosybrown; /* make scrollbar transparent */
}
