
.carousel-div-list{
   height:25vw ; 
   width:auto; 
   background:red;
}
.div-list{
    height:25vw ;
    margin-top:5vw;
    margin-bottom: 5vw; 
    width:100vw; 
    background:black;
    display: table;
}

.sub-div-list{
    height:25vw;
    width:10vw;
    margin:5vw;
    padding: 5vw;
    border:0.2vw solid white;
    display: table-cell;
    background:gray;
}

.sub-div{
  width:20vw;
}

