

<div class="row height">
  
  <nav class="col-sm-2 adminNav ">
      <br/>
    <label class="navbar-brand disable-selection">
      <h3 (click)="operation('Welcome')">Menu</h3> 
    </label>
    <!-- Links -->
    <ul class="navbar-nav disable-selection">
      <li class="nav-item ">
        <a  class="nav-link" (click)="operation('Add Product')">Add Product</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" (click)="operation('Modify Product')">Modify Product</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" (click)="operation('Delete')">Delete Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="operation('Order')">Order Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="operation('Add User')">Add User</a>
      </li>

    </ul>

  </nav>
  <div class="col-sm-10" >
      <app-welcome  *ngIf='"Welcome"==status'></app-welcome>
    <app-add-product  *ngIf='"Add Product"==status'></app-add-product>
    <app-update-product *ngIf='"Modify Product"==status'></app-update-product>
    <app-delete *ngIf='"Delete"==status'></app-delete>
    <app-order-detail *ngIf='"Order"==status'></app-order-detail>
  </div>
 
</div>
