
<br/><br/><br/>
  <form action=#>
    <div class="popUpBox">
      <label class="Login ">Login</label>
      <br/>
        <label for="name" >UserName / Email Id :  </label>  
        <input type="text" class="form-control" id="name"/><p></p>
    
        
        <label for="password">Password :  </label>  
        <input type="password" class="form-control" id="password">
         
        <br/>
        
        
        <input type="submit" class="btn btn-primary float-right" >
        <input type="Reset" class="btn btn-info" >    
    </div>
  </form>




