/*.img-btn-div
{   
    background: thistle;
    height:auto;
    display:inline-block;
}

.img-div
{
    background:floralwhite;
}

.description
{
    padding:2vw;
    
    overflow:scroll;    
    overflow-wrap: break-word;
    background: thistle;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent 
}
.text{
    font-size: 1vw;
}*/


.bg-color{
    padding: 4vw;
    background: azure;
}