<div class="container bg-color">
  <div  class="row ">
      
      <div class=" col-sm-6"> 
          <div class="img-div row" id="img-div">
              <img src="../../assets/icon/mobile-phone.jpg"  class="col-sm-12" id="img">
          </div><br/>
          <div>
                <button class="btn btn-primary text " id="add-cart">&nbsp;Add To Cart&nbsp;</button>
                <button class="btn btn-warning float-right text" id="buy-now">&nbsp;&nbsp;Buy Now&nbsp;&nbsp;</button>
            </div>
        </div><br/>

          <div class="description  col-sm-6" id="description">
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.

              One way to indent a paragraph is to insert several non-breaking spaces in a row: &nbsp;&nbsp;&nbsp;&nbsp;. This works as an HTML-only solution, but it's discouraged if you have access to CSS instead (described in a separate step).
              If you have a paragraph with a complicated arrangement of text, use the pre tag instead.
          </div> 

  </div>

  
</div>