 
.sub-div-list{
    height:20vw;
    width:20vw;
    border-radius: 1vw;
    margin: 1vw;
    text-align: center;
    border:0.2vw solid white;
    display: inline-block;
    background:whitesmoke;
}
.cdiv{
    padding:5vw;
}
.sub-div-list:hover{    
    border:0.2vw solid tan;  
}
.ccdiv{
    padding:1vw;
}
.imageAlign{
    height: auto;;
    width:100%;
    border-radius: 0.5vw;
}