
.defaultPropertyRemove{
    padding-left:0%;
    margin-right: 1.3vw;
}
h3{
    text-align: center;
}

label{
    padding-left: 3vw;
}
.bottom-margin{
    margin-bottom: 1vw;
    
}

.tableDimension{
    height: 20vw;
    overflow-y: scroll;
}

tr:hover{
    background: rgba(222, 184, 135,0.5);
}
thead{
    background: burlywood; 
   }


.button-div{
    margin-top:3vw;
    padding-left: 3.5vw;    
}